.projects-main-heading{
    /* border:2px solid red; */
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.projects-main-heading .project-heading {
    border: 2px solid gold;
    padding: 20px 30px;
    clip-path: polygon(0% 15%, 8% 15%, 8% 0, 94% 0, 94% 15%,
            100% 15%, 100% 85%, 93% 85%, 93% 100%, 8% 100%, 8% 85%, 0% 85%);
    background: linear-gradient(to bottom left, #00ff2f 20%, #111f2b 20%);
    text-shadow: 0px 0px 20px rgb(8, 250, 24);
}

.project-container{
    background-color: #03052b;
    color: white;
}
.all-projects-child-container{
    padding-top: 60px;
}
.project-heading{
    text-align: center;
}
.single-project-detail{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.special-height{
    height: 70vh;
}
.projects-all-btns{
   border:none;
   outline: none;
    padding:5px 30px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: #00ff2f;
    
    &:hover{
        background-color: rgb(13, 173, 45);
    }
}
.projucts-img-div{
    clip-path: polygon(14% 0, 100% 0%, 100% 100%, 15% 100%, 0% 50%);
    overflow: hidden;
    align-self: center;
}
.projects-img{
    width:300px;
    height:250px;
    transition: .3s;
    
    &:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
}

.project-all-details{
    width: 40%;
}

@media all and (max-width:768px) {
    .projects-img{
        width:250px;
        height:200px;
    } 
    .project-all-details{
        width: 50%;
    }
    .projucts-img-div{
       clip-path: polygon(15% 0, 100% 0%, 100% 100%, 21% 100%, 0% 45%);
    }
}
@media all and (max-width:600px) {
    .projects-img{
        width:300px;
        height:250px;
        margin-top: 50px;
    } 
    .projucts-img-div{
       clip-path:polygon(15% 0, 100% 0%, 100% 100%, 15% 100%, 0% 50%);
    }
    .project-all-details{
        width: 80%;
    }
    .single-project-detail{
       flex-wrap: wrap;
      
    }
    .special-height{
        height: 70vh;
    }
}
@media all and (max-width:310px) {
    .projects-img{
        width:200px;
        height:150px;
    }
    .projucts-img-div{
       clip-path:polygon(15% 0, 100% 0%, 100% 100%, 10% 100%, 0% 65%);
    }
    
}


.projucct-points-color{
    color:#00ff2f;
}
